.myheader
{
  text-align: center;
  font-family: cursive;
  font-size: 125%;
  color: red;
  width: 1500px;
  background:url(https://modernthemes.net/wp-content/uploads/2014/09/theme-overview-1024x601.jpg)
} 
#about
{
  background-color: rgba(126, 250, 143, 0.781);
  text-align: center;
}
#top-logo
{
  margin: 15px;
}
  
.bio
{
  font-family: cursive;
}

.profilepic 
{
  border-radius: 50%;
  border-image-width: 80%;
}

.carousel-item {
    height: 400px;
    text-align: center;
}


.item1 {
  background-color:  rgb(139, 224, 189);
  /*height: 100px;*/
}

.item2 {
  background-color: rgb(210, 224, 128);
  /*height: 100px;*/
}

.item3 {
  background-color:rgba(214, 75, 179, 0.574);
  /*height: 100px;*/
}


.tag
{
  text-align: center;
 
  font-family: 'Courier New', Courier, monospace;
}

#contact
{
  margin-top: 20px;
  text-align: center;
  padding-bottom: 1cm;
}
.logo
{
  margin: 10px;
}
#skills
{
  text-align: center;
  margin-top: 20px;
  background-color: rgba(236, 140, 223, 0.5);
  height: 550px;
}

.box1
{
  background-color: rgba(25, 215, 25, 0.3);
  height: 500px;
  width: 500px;
  position: relative; 
  
}

.box2
{
  background-color: rgba(66, 192, 214, 0.3);
  height: 500px;
  width: 500px;
  position: relative;
  left: 505px;
  bottom: 500px;
 
  
}
.box3
{
  background-color: rgba(253, 0, 0, 0.3);
  height: 500px;
  width: 500px;
   position: relative;
  left: 1010px;
  bottom:1000px;
 
}


.paraimg1
{
 margin-top: 30px;
  margin:20px;
  font-family:cursive;
  font-size: 125%;
}

.paraimg2
{
  margin-top: 30px;
  margin:20px;
  font-family:cursive;
  font-size: 125%;
}

.paraimg3
{
 margin-top: 30px;
  margin:20px;
  font-family: cursive;
  font-size: 125%;
}

.head
{
  text-align:center;
  margin-top: 20px;
}
#copyright
{
  text-align: center;
  background-color: black;
  padding: 10px;
  margin-top: 10px;
}
.copypara
{
  color: white;
}


